<div class="d-flex">
  <div class="mr-auto p-2">
    <h3>
      Manage Accounts</h3>
  </div>
</div>

<hr>
<!-- Error alert message for sync updation-->
<div class="font-italic alert alert-danger" *ngIf="errors.sync_enabled">{{ errors.sync_enabled.join('') }}</div>
<!-- Error alert message for other misc errors-->
<div class="font-italic alert alert-danger" *ngIf="miscError">{{ miscError }}</div>

<div class="mt-5">
  <div class="alert alert-success" role="alert" *ngIf="isSaved">
    Account settings saved successfully!
  </div>
  <h2 class="text-center" *ngIf="isAppLoading">Loading accounts...</h2>
  <table class="table" *ngIf="!isAppLoading">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Instance URL</th>
        <th scope="col">Username</th>
        <th scope="col">Sync Path</th>
        <th scope="col">Auto Sync</th>
        <th scope="col">Last Synced</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.instance_url }}</td>
        <td>{{ account.username }}</td>
        <td>
          <span title="{{ account.sync_path}}">{{ account.sync_path | slice:0:20 }}...</span>
        </td>
        <td>
          <input type="checkbox" name="id" value="true" [checked]="account.sync_enabled" (click)="update($event, account)">
        </td>
        <td>
          <div *ngIf="isLoading(account); else synccomplete">
            <img src="./assets/imgs/spinner.gif" alt="">
          </div>
          <ng-template #synccomplete>
            <span class="badge badge-success" *ngIf="account.last_synced_at; else nosynctime" [title]="account.last_synced_at | date:'fullDate'">{{
              account.last_synced_at | date:'shortTime':timezone }}</span>
            <ng-template #nosynctime>
              <span class="badge badge-danger">Unsynced</span>
            </ng-template>
          </ng-template>
        </td>
        <td>
          <button type="button" title="Account Details" class="btn btn-outline-secondary mr-2" (click)="goToAccountDetails(account)">
            <i class="fas fa-eye"></i>
          </button>
          <button type="button" title="Delete Account" class="btn btn-outline-danger" (click)="deleteAccount(account)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="accounts && accounts.length < 1">
        <td colspan="6" align="center">
          <p class="mt-4">You have not yet added any accounts.</p>
          <p class="mt-4"><a class="btn btn-info" routerLink="/account-new">Add New Account</a></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>