<div class="row">
  <div class="col-md-3 left-nav">
    <img src="./assets/logos/white128.png" alt="EisenVault" class="img-fluid">
  </div>
  <div class="col-md-9 centered">
    <h3>{{ heading }}</h3>
    <button *ngIf="showNodes" class="btn btn-default" (click)="loadSites()">Back to Sites</button>
    <hr>
    <div *ngIf="showSites">
      <div class="list-group pointer" *ngFor="let site of sites" (click)="loadNodes(site.entry.guid)">
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ site.entry.title }}</h5>
          </div>
        </a>
      </div>
    </div>

    <div *ngIf="showNodes">
      <div class="list-group pointer" *ngFor="let node of nodes">
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><input type="checkbox" value="{{node.entry.id}}" (click)="selectedNodes.push(node.entry.id)"> 
             &nbsp;<span (click)="loadNodes(node.entry.id)">{{ node.entry.name || 'No folders' }}</span> 
            </h5>
          </div>
        </a>
      </div>
    </div>

    <div class="mt-5">
        <button type="button" class="btn btn-danger" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-success float-right" (click)="finalize()" [disabled]="selectedNodes.length == 0">Finish</button>
    </div>
  </div>
</div>