<div class="d-flex">
  <div class="mr-auto">
    <h3>Edit Account Credentials</h3>
  </div>
</div>

<hr>
<form>
  <div class="form-group">
    <label for="instanceURL">Instance URL</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-globe"></i>
        </span>
      </div>
      <input type="text" class="form-control" value="https://" placeholder="Instance URL" aria-label="url"
        aria-describedby="basic-addon1" [(ngModel)]="instance_url" name="instance_url">
    </div>
    <div class="font-italic text-danger" *ngIf="errors.instance_url">{{ errors.instance_url.join('') }}</div>
    <small id="emailHelp" class="form-text text-muted">This is where your documents are hosted</small>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
            [(ngModel)]="username" name="username">
        </div>
        <div class="text-danger" *ngIf="errors.username">{{ errors.username.join('') }}</div>
        <small id="emailHelp" class="form-text text-muted">Your instance username</small>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"
            [(ngModel)]="password" name="password">
        </div>
        <div class="text-danger" *ngIf="errors.password">{{ errors.password.join('') }}</div>
        <small id="emailHelp" class="form-text text-muted">The secret password of your account</small>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <button type="button" class="btn btn-success float-right" (click)="update()" [disabled]="loading">
      <img src="./assets/imgs/spinner.gif" alt="" *ngIf="loading"> Update
    </button>
  </div>

</form>