<h3 class="text-success"><i class="fas fa-check-circle"></i> Configuration Successful </h3>
<hr>
<p>Your account configuration has been saved. If you want you can enable the "auto
  sync" option from the "Manage Accounts" page.You can find them in your EisenSyncer folder.</p>
<div class="mt-5">
  <button type="submit" class="btn btn-default" (click)="openFolder()">
    <i class="fas fa-folder-open"></i>
    Open the Synchronized folder
  </button>

  <a class="btn btn-outline-info float-right" href="#" role="button" routerLink="/account/manage">
    <i class="fas fa-user-cog"></i>
    Go to Manage Accounts
  </a>

</div>