<h3>Which remote folder do you want to sync?</h3>

<div class="clearfix">&nbsp;</div>

<hr />

<div
  class="alert alert-info"
  *ngIf="(sites && sites.length == 0 && soSiteData === false) || isLoading"
>
  <img src="./assets/imgs/spinner.gif" alt="" /> Loading. Please wait...
</div>

<div
  class="alert alert-danger"
  *ngIf="sites && sites.length == 0 && soSiteData === true"
>
  No Department(s) Found
</div>

<div class="mb-5">
  <button type="button" class="btn btn-danger" (click)="goBack()">
    <i class="fas fa-chevron-circle-left"></i>
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-success float-right"
    (click)="finalize()"
    [disabled]="disableFinish || isLoading"
  >
    <span *ngIf="isEdit === true">Update</span>
    <span *ngIf="isEdit === false">
      <i class="fas fa-check-circle"></i>
      Finish
    </span>
  </button>
</div>

<div *ngIf="sites && sites.length > 0">
  <div class="title">
    <h5 class="float-left">Select a Department/Folder</h5>
    <button
      class="btn btn-secondary btn-sm float-right"
      (click)="clearAllSelectedFolders()"
    >
      Clear Selection
    </button>
  </div>

  <div class="card list-container">
    <div class="tree-wrapper" *ngIf="isEdit && sites && sites.length > 0">
      <app-tree
        [treeData]="folders"
        (selectedNode)="onSelectedChange($event)"
        [preSelectedSiteIdList]="preSelectedSiteIdList"
        [preSelectedWatcherList]="preSelectedWatcherList"
      ></app-tree>
    </div>
  </div>
</div>

<div class="mt-5">
  <button type="button" class="btn btn-danger" (click)="goBack()">
    <i class="fas fa-chevron-circle-left"></i>
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-success float-right"
    (click)="finalize()"
    [disabled]="disableFinish || isLoading"
  >
    <span *ngIf="isEdit === true">Update</span>
    <span *ngIf="isEdit === false">
      <i class="fas fa-check-circle"></i>
      Finish
    </span>
  </button>
</div>
