<h3>About EisenVaultSync <small>version {{ about?.version }}</small></h3>
<hr>
<div class="mt-5">
  <div>
    <strong>EisenVaultSync</strong> is a cloud service that enables active synchronization of files across computers
    and
    other devices
    for file backup, access &amp; syncing from a variety of operating systems, such as MacOS, Linux&nbsp; and Windows
    devices.&nbsp;</div>
  <p>&nbsp;</p>
  <div>The&nbsp;
    <strong>EisenVaultSync</strong> program automatically refreshes its sync by constantly monitoring changes to
    files&mdash;additions,
    deletions, edits&mdash;and syncs these changes with your EisenVault account. Any other linked devices then also
    sync
    with the&nbsp;
    <strong>EisenVault</strong> servers.</div>
</div>