<h3>
  Account Details </h3>
<hr>

<div class="mt-5 table-responsive">
  <table class="table">
    <tr>
      <th scope="col">Instance URL</th>
      <td>{{ account?.instance_url }}</td>
    </tr>
    <tr>
      <th scope="col">Username</th>
      <td>{{ account?.username }}</td>
    </tr>
    <tr>
      <th scope="col">Sync Path</th>
      <td>{{ account?.sync_path }}</td>
    </tr>
    <tr>
      <th scope="col">Auto Sync Enabled</th>
      <td>{{ account?.sync_enabled ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
      <th scope="col">Last Synced At</th>
      <td>{{ account?.last_synced_at ? (account.last_synced_at | date:'medium':timezone) : 'Unsynced' }}</td>
    </tr>
  </table>

  <h2>Watched Department(s)</h2>
  <!-- Department Table -->
  <table class="table table-bordered table-sm" *ngIf="departments.length > 0; else nodepartment">
    <thead>
      <tr>
        <th scope="col">Department Name</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{ department.title }}</td>
        <td>{{ department.role }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #nodepartment>
    <p>No departments are currently being watched.</p>
  </ng-template>
  <!-- Department Table End -->
</div>

<a href="#" class="btn btn-info mt-5" routerLink="/account/manage" [queryParams]="{ cached: 1 }">Back to Manage
  Accounts</a>