<h3 class="text-secondary">
  <i class="fas fa-eye"></i> Account Information </h3>
<hr>
<p>Your account configuration has been saved. You can enable the "auto sync" option from the
  <a href="#" routerLink="/account/manage" [queryParams]="{ cached: 1 }">Manage Accounts</a> page.</p>
<div class="mt-5 table-responsive">

  <table class="table">
    <tr>
      <th scope="col">Instance URL</th>
      <td>http://</td>
    </tr>
    <tr>
      <th scope="col">Username</th>
      <td>XXXXX</td>
    </tr>
    <tr>
      <th scope="col">Sync Path</th>
      <td>XXXXX</td>
    </tr>
    <tr>
      <th scope="col">Auto Sync Enabled</th>
      <td>XXXXX</td>
    </tr>
    <tr>
      <th scope="col">Last Synced At</th>
      <td>XXXXX</td>
    </tr>
  </table>

  <h2>Departments</h2>
  <!-- Department Table -->
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">Department Name</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  <!-- Department Table End -->
</div>