<h3>Error Logs</h3>
<hr>
<div class="mt-5">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Created At</th>
        <th scope="col">Instance URL</th>
        <th scope="col">Username</th>
        <th scope="col">Error</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.created_at | date:'medium':timezone }}</td>
        <td>{{ log.account?.instance_url || 'N/A'}}</td>
        <td>{{ log.account?.username || 'N/A'}}</td>
        <td>{{ log.description | cleanString }}</td>
      </tr>
      <tr>
        <td colspan="5">
          <span *ngIf="isLoading === true">
            <h2>Loading...</h2>
          </span>
          <span *ngIf="logs && logs.length === 0">No Logs Found</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>