<div class="row">
  <div class="col-md-3 left-nav">
    <img src="./assets/logos/white128.png" alt="EisenVault" class="img-fluid">
  </div>
  <div class="col-md-9 centered">
    <h3>Your documents are now being synchronized</h3>
    <hr>
    <p>You can find them in your EisenSyncer folder.</p>
    <div class="mt-5">
      <button type="submit" class="btn btn-default" (click)="openFolder()">
        <i class="fas fa-folder-open"></i>
        Open the Synchronized folder
      </button>
    </div>
  </div>
</div>