<div class="d-flex">
  <div class="mr-auto">
    <h3>Change Folder Location</h3>
  </div>
</div>

<hr>
<form>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="localpath">Set Sync Path</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-folder"></i>
            </span>
          </div>
          <input type="file" [(ngModel)]="file" name="file" id="file" webkitdirectory="" directory="" class="hide">
          <input type="text" class="form-control" placeholder="Local path" aria-label="Username" readonly
            aria-describedby="basic-addon1" [(ngModel)]="sync_path" name="sync_path">
          <button type="submit" class="btn btn-default" (click)="onBrowse()">Browse</button>
        </div>
        <div class="text-danger" *ngIf="errors.sync_path">{{ errors.sync_path.join('') }}</div>
        <small id="emailHelp" class="form-text text-muted">Select the local path where the account will be synced.</small>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <button type="button" class="btn btn-danger" (click)="goBack()">
      <i class="fas fa-chevron-circle-left"></i>
      Cancel
    </button>
    <button type="button" class="btn btn-success float-right" (click)="update()" [disabled]="loading">
      <img src="./assets/imgs/spinner.gif" alt="" *ngIf="loading"> Update
    </button>
  </div>

</form>